.idea
.idea/
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
*/__pycache__
.pyc
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
.env
docs_build
venv
fast_env
docs.zip
archive.zip
db.sqlite3